@model TestT1.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">

                @*<input asp-for="MobileNumber" class="form-control" />*@
                <label asp-for="MobileNumber" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">+88</div>
                    </div>
                    <input asp-for="MobileNumber" class="form-control" />
                </div>
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label>
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID">
                    @foreach (var item in ViewBag.Departments)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DesignationID" class="control-label"></label>
                <select asp-for="DesignationID" class="form-control" asp-items="ViewBag.DesignationID">
                    @foreach (var item in ViewBag.Designations)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RoleID" class="control-label"></label>
                <select asp-for="RoleID" class="form-control" asp-items="ViewBag.RoleID">
                    @foreach (var item in ViewBag.Roles)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
